* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #8c6576;
  color: #f3e8f1;
  letter-spacing: 1.5px;
  padding-top: 130px;
  padding-bottom: 70px;
}

@media (max-width: 350px) {
  .app {
    padding-top: 70px;
  }
}

@media (max-width: 700px) {
  .app {
    padding-top: 90px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  font-weight: bold;
  padding: 4px;
  border-radius: 50px;
  color: rgb(243, 232, 241);
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}